/example-dts-deposits-withdrawals-taxes.py
/services-api-fiscal-service-v1-accounting-dts-deposits-withdrawals-operating-cash.pkl
/tga_taxes.html
/tga_taxes.py
/tga_taxes_bokeh_grouped.html
/tga_taxes_bokeh_stacked.html
/tga_taxes_stacked-stackexchange-minimal.py
/tga_taxes_stacked-stackexchange-ozmen-bokeh-000.py
/tga_taxes_stacked-stackexchange-ozmen-bokeh.py
/tga_taxes_stacked-stackexchange-ozmen.py
/tga_taxes_stacked-stackexchange-riaux.py
/tga_taxes_stacked-stackexchange.py
/tga_taxes_stacked_.py
/tga_taxes_stacked_matplotlib.py